

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 5rem;
}

    .column-left h1 {
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .column-left p {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        line-height: 1.5;
    }

.button1 {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #7dcfe3;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
}

    .button1:hover {
        background: #fff;
        color: #000;
    }

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
.bodd {
    margin: 0;
    padding: 0;
    background: lightblue;
}

.paper {
    position: absolute;
    background: rgba(255,255,255,0.9);
    width: 98%;
    height: 100%;
}

    .paper::before {
        content: '';
        position: absolute;
        left: 45px;
        height: 100%;
        width: 2px;
        background: rgba(255,0,0,0.4);
    }

.lines {
    margin-top: 15px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}

.textt {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 10px;
    line-height: 25px;
    font-family: 'Indie Flower';
    overflow: hidden;
    outline: none;
}