@model HManAPI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Change Password Form</h4>
    <div class="form-group">
        <label for="Email"></label>
        <input type="email" id="resetEmail" name=""/>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-info" id="reset">Send Email</button>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval");
}
    