@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<title> An About Us Page | CoderGirl </title>-->
    <!---Custom Css File!--->
    <link rel="stylesheet" href="About.css">
</head>
<body>
<section class="about-us">
    <div class="about">
        <!--<img src="girl.png" class="pic">-->
        <div class="text">
            <h2>About Us</h2>
            <h5>Hangman Game</h5>
            <p>Hangman is a guessing game that has been played for generations. The game is played by one person who thinks of a word and another person who tries to guess the word by suggesting letters. The word is represented by a series of dashes, one for each letter in the word, and the player must guess the letters one at a time. If the player guesses a correct letter, it is revealed in the word; if the player guesses an incorrect letter, a part of the "hangman" is drawn (e.g. a head, then a body, then arms, legs, etc.). If the player guesses the word before the "hangman" is complete, they win; if not, they lose.</p>
        </div>
    </div>
</section>
</body>
</html>
