@{
     ViewBag.Title = "Game";

}
<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--<title> An About Us Page | CoderGirl </title>-->
     <!---Custom Css File!--->
     <link rel="stylesheet" href="About.css">
     <link rel="stylesheet" href="Game.css">
</head>
<body>
     <section class="about-us">
          <div class="about">
               @foreach(var letter in ViewBag.Message)
               {
                    <div class="input-box">
                         <input type="text" />
                    </div>
               }
          </div>
     </section>
</body>
</html>