@{
     ViewBag.Title = "How To Play";
}

     <section class="about-us">
          <div class="about">
               <div class="text">
                    <h2>How to play hangman?</h2>
                    <p>Hangman is a simple word guessing game. Players try to figure out an unknown word by guessing letters. If too many letters which do not appear in the word are guessed, the player is hanged (and loses).</p>
                    <p>1) You will get the number of letters of secret word.</p>
                    <p>2) Start guessing letters of secret word.</p>
                    <p>3) If players guess correctly, letter will be filled in the box.</p>
                    <p>4) When players guess wrong, a part of the hangman will appear.</p>
                    <p>5) The players win when they guess the correct word.</p>
                    <p>6) If players guess incorrectly too many times, they loose.</p>
               </div>
          </div>
     </section>
