
<section class="hero">
    <div class="hero-container">
        <div class="column-left">
            <h1>HangMan</h1>
            <p>
                Engage in a thrilling guessing game, piecing together a hidden word by solving the puzzle of missing letters.
            </p>
            <button>Get Started</button>
        </div>
        
    </div>
</section>
