
@{
     ViewBag.Title = "Create Server";
}
<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--<title> An About Us Page | CoderGirl </title>-->
     <!---Custom Css File!--->
     <link rel="stylesheet" href="About.css">
     <link href="~/Scripts/ChechBoxScript.js" />
</head>
<body>
     <form>
          <div class="form-group">
               <label for="exampleFormControlInput1">Server Name</label>
               <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Server Name">
          </div>
          <div class="form-group">
               <label for="exampleFormControlSelect1">Player Number</label>
               <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
               </select>
          </div>
          <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
     </form>
     <div class="data">
          <a href="#" class="hire">Create Server</a>
     </div>
</body>

</html>