@model IEnumerable<HManAPI.Models.ServerModel>

@{

     ViewBag.Title = "Game";

}
<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--<title> An About Us Page | CoderGirl </title>-->
     <!---Custom Css File!--->
     @*<link rel="stylesheet" href="About.css">*@
     <link rel="stylesheet" href="Game.css">
</head>
<body>
     @*<section class="about-us">
               <div class="about">
                    @foreach(var letter in ViewBag.Message)
                    {
                         <div class="input-box">
                              <input type="text" />
                         </div>
                    }
               </div>
          </section> *@
    <div class="data">
        @Html.ActionLink("Create Server", "CreateServer", "Server", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg btn-block " })
    </div>
     <ul class="list-group">
         @if (Model != null)
         {
         foreach (var server in Model)
         {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @server.name 
                        <span class="badge badge-primary badge-pill badge-custom ">
                            @if (server.isPublic == true)
                            {
                                @Html.ActionLink("Join", "Play", "Server", routeValues: new { server.name,server.isPublic,server.password,server.players,server.word }, htmlAttributes: new { @class = "btn btn-outline-primary btn-sm" })
                            }
                            else
                            {
                                
                                @Html.ActionLink("Join", "Play", "Server", routeValues: new { server.name, server.isPublic, server.password, server.players, server.word }, htmlAttributes: new { @class = "btn btn-outline-secondary btn-sm" })
                            }
                        </span>
                    </li> 
         }
         }
          @*<li class="list-group-item d-flex justify-content-between align-items-center">
               Cras justo odio
               <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
               Dapibus ac facilisis in
               <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
               Morbi leo risus
               <span class="badge badge-primary badge-pill">1</span>
          </li>*@
     </ul>
</body>
</html>