@{
    ViewBag.Title = "Play";
}

<div class="keyboard_wrapper">
        <div class="key">
        <div class="row">
            <span data-key="Q">Q</span>
            <span data-key="W">W</span>
            <span data-key="E">E</span>
            <span data-key="R">R</span>
            <span data-key="T">T</span>
            <span data-key="Y">Y</span>
            <span data-key="U">U</span>
            <span data-key="I">I</span>
            <span data-key="O">O</span>
            <span data-key="P">P</span>
        </div>
        <div class="row">
            <span data-key="A">A</span>
            <span data-key="S">S</span>
            <span data-key="D">D</span>
            <span data-key="F">F</span>
            <span data-key="G">G</span>
            <span data-key="H">H</span>
            <span data-key="J">J</span>
            <span data-key="K">K</span>
            <span data-key="L">L</span>
        </div>
        <div class="row">
            <span data-key="Z">Z</span>
            <span data-key="X">X</span>
            <span data-key="C">C</span>
            <span data-key="V">V</span>
            <span data-key="B">B</span>
            <span data-key="N">N</span>
            <span data-key="M">M</span>
            
        </div>
        
    </div>
</div>