
@{
     ViewBag.Title = "Play";
}

<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--<title> An About Us Page | CoderGirl </title>-->
     <!---Custom Css File!--->
     <link rel="stylesheet" href="About.css">
</head>
<body>
     <div class="data">
          <a href="#" class="hire">Hire Me</a>
     </div>
</body>
</html>
